doctype 5
html
  head
    title Teuthida | Titles don't really matter for emails
    style
  body
    table.page
      tr
        td
          center
            table.container
              tr
                td
                  table.row
                    tr
                      td
                        h1 Hello!
                      td
                        | Tables today, tables forever.
                  table.row
                    tr
                      td
                      td